.home {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  //background-color: var(--black);
  background-image: url("../assets/wp5.jpeg");
  background-size: cover;

  img {
    position: relative;
    max-width: 894px;
    max-height: 100%;
    z-index: 0;
  }
  .tittle {
    position: absolute;
    text-align: center;
    font-size: 3.4rem;
    z-index: 1;
    padding-left: 15rem;
  }
  .subtittle {
    position: absolute;
    font-size: 2.2rem;
    z-index: 1;
    margin-top: 12rem;
    margin-left: 15rem;
  }
  .complementary {
    margin-top: 17rem;
    margin-left: 15rem;
    position: absolute;
  }
  p {
    font-size: 2rem;
  }
  h3 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: var(--primary);
  }
  .button {
    position: absolute;
    padding: 1.4rem 6rem;
    text-align: left;
    margin-top: 29rem;
    margin-left: 15rem;
  }
}

@media (max-width: 650px) {
  .subtittle {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .home {
    color: var(--white);
    height: 600px;
    align-items: start;
    //margin-top: 17rem;
    background-image: url(../assets/home4.svg);
    background-size: cover;
    background-image: url("../assets/wp5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    //background-size: 406px 933px;
    //background-color: var(--white);
    padding: 0 4rem;

    img {
      display: none;
    }
    .tittle {
      text-align: left;
      padding-left: 0rem;
      position: relative;
      margin-bottom: 2rem;
      p {
        margin-bottom: 1rem;
      }
    }
    .subtittle {
      position: relative;
      text-align: left;
      font-size: 2rem;
      margin: 0;
    }
    .complementary {
      font-size: 1rem;
      position: relative;
      margin: 0;
      margin-bottom: 2rem;
    }
    .button {
      position: relative;
      margin: 0;
      margin-top: 2rem;
      text-align: left;
    }

    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 2rem;
    }
  }
}
